---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Jarvey's Blog";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonSpaceGif" src="/space.webp"/>
    </div>
    <h1>Jarvey Lin</h1>
    <small>Digital Craftsman (Developer)</small>
    <h2>About</h2>
    <p>
        I am Jarvey Lin, a React front-end and Node full-stack engineer. Currently, I reside in Shenzhen and work as a freelancer. I have a passion for open-source contributing and ACG (animation, comics, and games) culture. If you have any development needs or would like to get to know me, please feel free to contact me without hesitation.
    </p>
    <div class="button">
        <a href="/works/">
            <button class="button">My portfolio</button>
        </a>
    </div>
    <h2>Skills</h2>
    <div class="link-images">
        <img width="46" height="46" alt="React" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"/>
        <img width="46" height="46" alt="TailWindCSS" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tailwindcss/tailwindcss-plain.svg"/>
        <img width="46" height="46" alt="Jest" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jest/jest-plain.svg"/>
        <img width="46" height="46" alt="Nestjs" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nestjs/nestjs-plain.svg"/>
        <img width="46" height="46" alt="TypeScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-plain.svg"/>
        <img width="46" height="46" alt="Nextjs" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nextjs/nextjs-original.svg"/>
        <img width="46" height="46" alt="Bootstrap" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-plain.svg"/>
        <img width="46" height="46" alt="CSS" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-plain.svg"/>
        <img width="46" height="46" alt="HTML" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-plain.svg"/>
        <img width="46" height="46" alt="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg"/>
        <img width="46" height="46" alt="PostGres" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-plain.svg"/>
    </div>
    <h2>Interests</h2>
    <p>
        Coding,Music,Comic,Movie,Game.
    </p>
</Layout>
<style>
    /* small */
    small {
        background-color: #584966;
        color: #fdebf3;
        border-radius: 6px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 600;
        padding: 0.3em 0.6em 0.2em;
    }

    /* Button */
    button {
        background: rgba(0,0,0,0);
        border: 2px solid #78c2ad;
        border-radius: 8px;
        color: #fdebf3;
        font: 600 16px 'Josefin Sans', sans-serif;
        padding: 8px 16px;
        transition: background-color 0.4s, color 0.4s;
    }

    button:hover {
        background-color: #78c2ad;
        color: #1e1e2e;
        cursor: pointer;
    }

    .button {
        text-align: center;
    }

    /* Skill images */
    .link-images img {
        margin: 16px 4px;
    }

    @media only screen and (max-width: 600px) {
        .link-images img {
            height: 30px;
            width: 30px;
            margin: 16px 1px;
        }
    }
</style>
